/* @buttons
------------------------------------------------------ */

button {
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.btn {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend %sans--medium;
  background: $cerulean;
  border: none;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: 1.4em;
  min-width: 160px;
  outline: none;
  padding: 1em 1.25em;
  text-align: center;
  text-decoration: none;

  &.no-min-width {
    min-width: 0;
  }
  &.max-width {
    max-width: 160px;
  }
  
  &:hover,
  &:focus,
  &:active {
    opacity: .85;
    outline: none;
  }
}


/* @btn--secondary
------------------------------------------------------ */

.btn--secondary {
  background: $arctic;
}

/* @btn--secondary
------------------------------------------------------ */

.btn--green {
  background: $shamrock;
}


/* @btn--tertiary
------------------------------------------------------ */

.btn--tertiary {
  background: none;
  border: 1px solid $shamrock;
  color: $slate;
}
