section.beige-bg {
    background-color: lighten($beige, 7);

    &.scallop-top {
        @include scallop-top(lighten($beige, 7));
    }
    &.scallop-bottom {
        @include scallop-bottom(lighten($beige, 7));
    }
}
section {
    position: relative;
    background-color: $white;

    &.scallop-top {
        @include scallop-top(white);
    }
    &.scallop-bottom {
        @include scallop-bottom(white);
    }

}

section.main-content{
    @include bp-until($breakpoint__md){
        .layout-container {
            top: -383px !important;
        }
      form .select-style #select-drop {
        padding: 1.0em;
        padding-top: 2em;
        padding-left: 20px;
        text-indent: 0px;
      }
    }
}