script[type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"]
- content_for :hero_title, @property_title.html_safe
- content_for :lede, @property_subtitle.html_safe
section.scallop-top
  .layout-container
    .md-two-thirds
      ul.offerings
        li
          i.icon.icon-bath
          span.detail #{@unit.bathrooms} Bath
        li
          i.icon.icon-bed
          span.detail #{@unit.bedrooms} Beds
        li
          i.icon.icon-guests
          span.detail #{@unit.occupancy} Guests
        li
          i.icon.icon-apartment
          span.detail #{@unit.type.capitalize}
section.padded-top.padded-bottom.beige-bg
  .layout-container
    = render 'rate_panel'
    .property-details.md-two-thirds
      #image-lightbox.image-grouping
        .row
          - if @large_images.count > 0
            article.one-whole.md-two-thirds.tile
              a.fancybox.contain rel="image-gallery" href="#{@large_images[0][:url]}" title="#{@large_images[0][:title]}" style="background-image: url('#{@standard_images[0][:url]}');"
          - if @large_images.count > 1
              a.fancybox.contain rel="image-gallery" href="#{@large_images[1][:url]}" title="#{@large_images[1][:title]}" style="background-image: url('#{@standard_images[1][:url]}');"
        .row
          - if @large_images.count > 2
            article.one-whole.md-one-third.tile
              a.fancybox.contain rel="image-gallery" href="#{@large_images[2][:url]}" title="#{@large_images[2][:title]}" style="background-image: url('#{@standard_images[2][:url]}');"
          - if @large_images.count > 3
            article.one-whole.md-one-third.tile
              a.fancybox.contain rel="image-gallery" href="#{@large_images[3][:url]}" title="#{@large_images[3][:title]}" style="background-image: url('#{@standard_images[3][:url]}');"
          - (5..@standard_images.count).each do |index|
              a.fancybox.hidden rel="image-gallery" href="#{@large_images[index - 1][:url]}" title="#{@large_images[index - 1][:title]}" style="background-image: url('#{@standard_images[index -1][:url]}');"
          article.one-whole.md-one-third.tile
            a.contain.black.placehold-all-images.open-lightbox href="#"
              .over
                h2 See All #{@standard_images.count} Photos
      .gw
        .g
          - unless @videos.empty? || @videos[0][:formats][:url].empty?
          -               url = @videos[0][:formats][:url]
          p
            | <a class="fancybox-media btn video-tour-btn" title="Video Tour" href="
            = url
            | " target="_blank">View a video tour
      .gw
        .g.md-one-fourth
          h2.heading-two
            | Description
        .g.md-three-fourths
          p
            = @unit.descriptions[:text][0][:description]
      hr
      .gw
        .g.md-one-fourth
          h2.heading-two
            | Property Details
        .g.md-three-fourths
          ul.gw.no-gutter.no-padding
            li.g.md-one-half.padded-right
              p
                b
                  | Property Type:
                = @unit.type.capitalize
            li.g.md-one-half.padded-right
              p
                b
                  | Bedrooms:
                = @unit.bedrooms
            li.g.md-one-half.padded-right
              p
                b
                  | Bathrooms:
                = @unit.bathrooms
            li.g.md-one-half.padded-right
              p
                b
                  | Floors:
                = @unit.num_floors
            li.g.md-one-half.padded-right
              p
                b
                  | Occupancy:
                = @unit.occupancy
      hr
      .gw
        .g.md-one-fourth
          h2.heading-two
            | Amenities
        .g.md-three-fourths
          ul.gw.no-gutter.no-padding
            - @amenities.each do |amenity|
              li.g.md-one-half.padded-right
                p
                  = amenity.to_s.titleize
- @unit.reviews.sample(3).compact.tap do |reviews|
  - break if reviews.empty?
  section.padded-top.padded-bottom
    .layout-container
      .md-two-thirds
        h2.heading-two.bottom-spacing-large
          | Testimonies
        ul.testimonials.testimonials-paginated.normal.gw.large-gutter
          - reviews.each do |review|
            li.g.sm-one-whole
              blockquote
                p.persons-words
                  | “
                  = review[:comment].html_safe
                - unless review[:city].empty? || review[:state].empty?
                  span.persons-name
                    = review[:city]
                    | , 
                    = review[:state]
  #map-container
    #map-canvas data-lat="#{@unit.position[:latitude]}" data-lon="#{@unit.position[:longitude]}"
  section.padded-top.padded-bottom.related-places
    .layout-container
      h2.heading-two.bottom-spacing-large Other Places
      ul.gw.large-gutter.no-padding
        - @random_units.each do |unit|
          li.g.md-one-third
            a href="#{accommodation_url(unit.code)}"
              img src="#{unit.standard_images[0][:url]}"
            h2.top-spacing = unit.name
            p
              = ellipsis(unit.long_description, length: 50)
