// Colors

$black: #231f20;
    $blackLight: lighten($black, 7);
$white: #ffffff;
	$white-70: rgba($white, .7 );

$shamrock: #55D380;
$arctic: #50CCFF;
$off-white: #F6F4F0;
$cerulean: #1A9EC1;
$beige: #E0DCCB;
$slate: #404B50;
$brown: #7C7865;
$dark-brown: #6D6A5A;
$red: #FF5252;
$gray: #b3b6b1;
$pink: #b9618b;