- content_for :hero_title, "Owners".html_safe
- content_for :hero_size, 'hero-small'
- content_for :bottom_border, 'bottom-border'
section.padded-top.scallop-top
  .layout-container
    .gw
      .g.sm-one-whole
        h1.heading-medium
          | Current Océano Client Links
        p
          a[href="https://oceano-rentals.escapia.com/ownerweb"]
            | OwnerLink Online Interface
        h2.heading-small
          | Work Order
        p
          | Please fill out the following form to submit a work order. You will receive a response within 24 hours.
        form.dark[method="post" action="/owners/thank-you"]
          = tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token)
          fieldset.half
            label[for="ownerName"]
              | Owner Name
              span.important
                | *
            input#ownerName[type="text" required]
          fieldset.half
            label[for="propertyName"]
              | Property Name
              span.important
                | *
            input#propertyName[type="text" required]
          fieldset.half
            label[for="email"]
              | Contact Email
              span.important
                | *
            input#email[type="email" required]
          fieldset
            label[for="problem"]
              | Problem Description
              span.important
                | *
            textarea#problem[required]
          p.important
            | * denotes a required field
          input.btn.submit[type="submit" value="Submit Form"]
        p
          a[href="mailto:info@goOc&eacute;ano.com"]
            | Send Us an E-mail
        hr.dark
        h1.heading-medium
          | Prospective Océano Client Links
        p
          | Océano Realty and Luxury Vacation Rentals is a full service property management company in Puerto Peñasco (Rocky Point), Mexico. Océano provides real estate, rental, cleaning, maintenance, bill paying, and FM3 renewal services for homeowners in Rocky Point and the surrounding areas.
        h2.heading-medium-small
          | Rental
        p
          | Océano's Rental Division enjoys the largest inventory of vacation homes in Rocky Point and a twelve year customer base to match. We are able to handle all aspects of the rental including marketing, booking, collecting and distributing rents, maintaining deposits, cleaning and client accounting. We have a state of the art, real-time availability and booking interface for customers looking for accommodations. We also have the traditional reservation center where we can be contacted our toll-free phone number or email.
        p
          | Our rental service offers many benefits including booking, record keeping, advertising, cleaning, collecting rent and deposits.
        p
          | Let rental income pay your bills and pay for improvements on your home.
        p
          strong
            | Key benefits
        ul
          li
            | Booking 
            ul
              li
                | Opened 7 days a week
              li
                | One master schedule to prevent double booking
              li
                | Toll-free reservation phone line for reservations
        ul
          li
            | Record keeping 
            ul
              li
                | Provide monthly income statements
              li
                | Maintain individual client accounts
              li
                | Track all rentals
        ul
          li
            | Advertising 
            ul
              li
                | The Arizona Republic
              li
                | Mesa Tribune
              li
                | Internet website
              li
                | Rocky Point Times
        ul
          li
            | Cleaning 
            ul
              li
                | Coordinated with master schedule
              li
                | In-house cleaning crew
              li
                | Internet website
              li
                | Rocky Point Times
        ul
          li
            | Collecting 
            ul
              li
                | Rent and deposits in advance
              li
                | Tracked in client account
              li
                | To protect client
        hr
        h2.heading-medium-small
          | OwnerLink
        p
          | This service allows our clients (homeowners) to view reservations in two different formats, revenue, rental statistics, statements, work orders, block personal time in the property and change their password. 
          a[href="https://www.google.com/url?q=https%3A%2F%2FOc&eacute;ano-rentals.escapia.com%2FOwnerWeb%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGEJRqI2VSUbBp8wlkhH-5Gxk_SXQ"]
            | Click Here to Visit the OwnerLink Demo
          | .
        hr
        h2.heading-medium-small
          | Maintenance
        p
          | We have a crew dedicated to performing a wide range of maintenance tasks. Each crew member has their own company vehicle allowing for faster response times. Our bilingual maintenance supervisor is very knowledgeable of water systems, air conditioners, and the overall requirements of maintaining a home on or near the beach.
        p
          strong
            | Key benefits
        ul
          li
            | Able to respond to owners', guests' and customers' maintenance demands efficiently and effectively.
          li
            | Reduces the need for extra communications to the owner or some other third party.
          li
            | Special work order requests can be made by e-mail, fax, or by submitting one of our on-line work order forms.
          li
            | Full accounting of all performed tasks on our monthly statements.
          li
            | Able to coordinate yearly maintenance such as painting, waxing etc. between rentals thus not interferring with the rental revenue stream.
        hr
        h2.heading-medium-small
          | Remodeling
        p
          | We have crews available that can perform simple painting to complete remodeling including structural changes.
        p
          strong
            | Key benefits
        ul
          li
            | Increase the value of your property
          li
            | Enhance the utility of your property
          li
            | Make those changes that you always wanted to do 
            ul
              li
                | Patio
              li
                | Garage
              li
                | Laundry room
              li
                | Extra bedroom
              li
                | Perimeter wall
              li
                | Bathroom
              li
                | Kitchen
              li
                | Cabinets
        ul
          li
            | On site management
          li
            | References available
        hr
        h2.heading-medium-small
          | Bill Paying
        p
          | Our bill paying service can pay most of the bills associated with your home here in Rocky Point. See the list of bills we pay below.
        p
          strong
            | Key benefits
        ul
          li
            | Avoid unnecessary trips to Rocky Point to pay bills
          li
            | Avoid the hassle of waiting in line
          li
            | Helps make your visit to Rocky Point more enjoyable
          li
            | Bills we pay: 
            ul
              li
                | Electric
              li
                | Phone
              li
                | Water
              li
                | Taxes
              li
                | Federal Zone
        hr
        h2.heading-medium-small
          | FM3
        p
          | We can help you establish your first FM-3 or renew an existing one.
        p
          strong
            | Key benefits
        ul
          li
            | To perform business in Mexico you must have an FM-3
          li
            | To live in Mexico you must have an FM-3
          li
            | We can interpret your documents necessary for your FM-3
          li
            | Cost: 
            ul
              li
                | Océano Clients - $100 per FM-3
              li
                | Others - $125 per FM-3
        ul
          li
            | Please contact us for the required papers to process your FM-3
section.padded-bottom
  .layout-container
    .gw
      .g.sm-one-half

      .g.sm-one-half
