- content_for :hero_title, "Resources".html_safe
- content_for :bottom_border, 'bottom-border'
section.padded-top.scallop-top
  .layout-container
    .gw.large-gutter
      .g.sm-one-third
        h2.heading-medium-small.up.alt
          | The Essentials
        p
          | Things you need before you go to Rocky Point
      .g.sm-one-third
        h2.heading-medium-small.up
          | Home Insurance
        p
          | Things you need before you go to Rocky Point
        p
          a[href="https://sb.iigins.com/mexico-home-owners/quick-quote/quote_step_1.mhtml?aff_id=3732"]
            | Get Home Insurance >
      .g.sm-one-third
        h2.heading-medium-small.up
          | Car Insurance
        p
          | Things you need before you go to Rocky Point
        p
          a[href="https://sb.iigins.com/quote/?aff_id=3732&agtdst=DEKACF&office_code=;"]
            | Get Car Insurance >
      .g.sm-one-third
        h2.heading-medium-small.up
          | Tidal Forecast
        p
          | When to expect high and low tide for the area.
        p
          a[href="http://www.tide-forecast.com/locations/Puerto-Penasco-Sonora-Mexico/tides/latest"]
            | View Forecast >
section.padded-bottom
  .layout-container.layout-centered
    hr
    h1.heading-medium-small.up.alt
      | Enjoy Your Stay
    h2.heading-subheader
      | Nice extras to help you stay connected and enjoy your trip.
section.padded-bottom
  .layout-container
    .gw.large-gutter
      .g.sm-one-half
        h2.heading-medium
          | Massage
        p
          strong
            | Full Body
          |  - 1.5 hrs, $75
          br
          strong
            | Full Body
          |  - 1 hr, $55
          br
          strong
            | Upper Body
          |  - 35 min, $35
        p
          | Senior citizens 10% off
        ol
          li
            | Swedish
          li
            | Shiatsu
          li
            | Deep shiatsu
          li
            | Reflexology
          li
            | Elastisiri massage
          li
            | Dren linfatic System
        p
          | If you were getting a Full Body massage for 1hour and 30 minutes you will receive all All 6 types of massages.
        p
          | If you were getting the Full Body Massage for 1 hour you would receive massage types 1, 2, 3
        p
          | If you were getting the Upper Body for 35 minutes you would receive massage types 1, 2
        p
          | A licensed massage therapist who only uses 100% Aztec oils with healing ingredients applies these massages.
