/* @general layout
-----------------------------------------------------  */

.layout-container {
    @include clearfix();
    margin-left: auto;
    margin-right: auto;
    max-width: 1010px;
    padding: 0 30px 30px;
    position: relative;
}
.layout-container-smaller {
    margin-left: auto;
    margin-right: auto;
    max-width: 825px;
}
.padded-top {
    padding-top: 100px;
}
.padded-bottom {
    padding-bottom: 100px;
}
.padded-left-right {
    padding-left: 25px;
    padding-right: 25px;

    .padded-left-right {
        padding-left: 0;
        padding-right: 0;

        @include bp-at-least(768px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}
.layout-centered {
    text-align: center;
}
.layout-grid {
    list-style-type: none;

    @include bp-at-least(768px) {
        > li {
            display: inline-block;
            width: auto;
        }
    }
}
.layout-block {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        display: block;
    }
}

.memories-img {
  background-image: url("http://demo.inspiretheme.com/templates/paradise/templates/it_paradise/images/extension-bg.jpg");
}

.float-left {
  float: left;
}

.tilt-image-by-7 {
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}

.tilt-image-by-minus-10 {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.tilt-image-by-minus-16 {
  -webkit-transform: rotate(-16deg);
  -moz-transform: rotate(-16deg);
  -o-transform: rotate(-16deg);
  -ms-transform: rotate(-16deg);
  transform: rotate(-16deg);
}

.tilt-image-by-13 {
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -o-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  transform: rotate(13deg);
}

.img-border-5px {
  border:5px solid #ffffff;
}

.margin-0 {
  margin-left: 0% !important;
  margin-right: 0% !important;
  text-align: center;
  max-width: none;
}

.after-heading-underline {
  &:after {
    display: block;
    content: '';
    height: 4px;
    border-radius: 4px;
    background: #d0aa69;
    position: relative;
    width: 50px;
    margin: 25px auto;
  }
}

.font-family-open-sans {
  font-family: "Open Sans";
}

.btn--brown {
  background-color: #d0aa69;
}

.align-left {
  text-align: -webkit-left;
}

.bolded-left-text {
  font-size: medium;
  font-weight: bold;
  float: left;
}

.margin-top-0 {
  margin-top: 0;
}

.padding-top-15 {
  padding-top: 15%;
}

.italic-light-color {
  color: #b4b4b4;
  font-style: italic;
  font-size: medium;
}

.bg-white{
  color: white !important;
}

.italic-brown-color {
  color: #d0aa69;
  font-style: italic;
  font-size: medium;
}

.color-light-grey {
  color: #818181;
}

.light-grey-bg-color {
  background-color: #f7f7f7;
}

.left-padding-by-5 {
  padding-left: 5%;
}

.top-padding-by-5 {
  padding-top: 5%;
}

.bottom-padding-by-5 {
  padding-bottom: 5%;
}

.margin-top-by-28 {
  margin-top: -28% !important;
}

.margin-top-by-5 {
  margin-top: 5%;
}

.margin-bottom-by-20 {
  margin-bottom: 20% !important;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.text-align-right {
  text-align: right;
}

.width-auto {
  width: auto;
}

.color-brown {
  color: #d0aa69 !important;
}

.height-80 {
  height: 80%;
}

.text-align-center {
  text-align: center;
}

.width-88 {
  width: 88%;
}

.padding-left-by-2 {
  padding-left: 2%;
}

.float-right {
  float: right;
}

.top-padding-by-3 {
  padding-top: 3%;
}

.width-361-px {
  background-color: white;
}

.margin-right-by-2 {
  margin-right: 2%;
}

.width-120 {
  width: 120%;
}

.text-align-left {
  text-align: -webkit-left;
}

.bottom-padding-by-4 {
  padding-bottom: 4%;
}

.bottom-padding-by-3 {
  padding-bottom: 3%;
}

.font-5vh {
  font-size: 5vh;
}

.font-1vh {
  font-size: 1.5vh;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
  .text-larger {
    font-size: larger;
  }
}

.highlight-selected {
  content: '';
  //height: 4px;
  border-radius: 25px;
  background: rgba(208, 170, 105, 0.75);
  position: relative;
  padding: 7px 17px !important;
}

.top-padding-by-1{
  padding-top: 1%;
}

.slider-margin{
  margin-left: 25px;
  margin-top: 25PX;
  //width: 350px;
}

.margin-top-book-now{
  margin-top: -10px;
}

.padding-right-20-px{
  padding-right: 20px !important;
}

.hacienda-hover-color:hover{
  color: #d0aa69 !important;
}

.bx-pager-item{
  display: none !important;
}

@media screen and (max-width: 680px) and (min-width: 150px){
  .slider-margin{
    margin: 0px;
  }

  .testimonial-image{
    width: 100% !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 681px) {
  .slider-margin {
    margin-left: 0px;
  }

  .testimonial-image{
    padding-right: 6px;
  }

  .property-search fieldset:nth-of-type(4) .select-style{
    width: 90px !important;
  }

  .request-booking .booking-details .select-style{
    width: 50px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 850px) {
    .welcome-text-align-for-smaller{
      margin-top: -8% !important;
    }

  .property-search fieldset:nth-of-type(4) .select-style{
    width: 105px !important;
  }
}

.bx-prev, .bx-next{
  z-index: 1 !important;
}

.padding-top-5 {
  padding-top: 5%;
}

.error{
  font-size: 12px;
  color: #f35958;
  font-weight: 500;
}

.invalid-email{
  display: none; 
}

#email-error, #emailId-error{
  display: none !important;
}

.text-box-height{
   height: 44px;
}

.width-14{
  width: 14%;
}

.rate-panel-guest-height{
  height: 32px;
}