/* @common
-----------------------------------------------------  */
.get-some-deal{

  // responsive media query
  @media screen and (max-width: 960px) and (min-width: 200px) {
    .subscribe-email-div{
      float: left;
      width: 100%;
      padding: 7% 0% 7% 2%;
    }
    .email-address-text-box{
      width: 98%;
      margin-bottom: 5%;
    }
    .subscriber-button-main {
      width: 100%;
      text-align: center;
    }

    .menu-list-div{
      width: 100% !important;
    }
    .footer-menu-icon-div .fa {
      padding: 0% 5% !important;
    }
    .footer-menu-icon-div{
      width: 100% !important;
      float: left !important;
      text-align: center !important;
    }
    .footer-menu-list .list-div-text {
      padding: 2% !important;
      padding-right: 0% !important;
    }
    .footer-menu-list{
      padding:0% !important;
    }
    .list-div {
      float: left;
      padding: 0% 2%;
      width: 100%;
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 681px) {

  }


  @media screen and (max-width: 680px) and (min-width: 400px) {

  }
}

.footer-bg{

  @media screen and (max-width: 1600px) and (min-width: 1400px) {
    .footer-menu-list{
      width: 540px;
    }

    .list-div{
      padding: 0% 21%;
    }
  }

  // responsive media query
  @media screen and (max-width: 960px) and (min-width: 200px) {

    .list-div{
      margin: 0 3.5%;
      width: 100% ;
    }
    .menu-list-div{
      width: 100%;
      padding: 0;
    }
    select#guests{
      padding-top: 0.6em;
    }
    .footer-bg .footer-menu-list {
      padding: 2% 0% 0% 4%;
      width: 100%;
    }
    .footer-menu-icon-div .fa {
      padding: 0% 5%;
    }
    .footer-menu-icon-div{
      width: 100% ;
      float: left ;
      text-align: center ;
    }
    .footer-menu-list .list-div-text {
      padding: 2%;
      padding-right: 0%;
      padding-bottom: 0%;
    }
    .footer-menu-list .padding-right-9{
      padding-right: 4%;
    }
    .list-div {
      float: left;
      padding: 0% 0%;
      width: 100%;
    }

    .footer-main-div {
      float: left;
      padding: 0% 1%;
      width: 100%;
    }

    .footer-main-div .mobile-aligned-footer-logo{
      width: 100%;
      text-align: center;
    }
    .footer-main-div .mobile-aligned-footer-logo img{
      float: none;
    }
    width: 100% !important;
    background-size: 767px 231px !important;
    a{
      color: #ffffff;
    }
  }

  @media screen and (max-width: 1150px) and (min-width: 1024px) {
    .footer-img-logo{
      padding: 4% 5%;
    }

    .list-div{
      padding: 2% 6%;
      width: 70%;
    }

    .footer-menu-icon-div{
      width: 24%;
      padding-top: 2%;
    }
  }


  @media screen and (max-width: 680px) and (min-width: 400px) {

  }
}

section.featured-rooms-slider-section {
  // responsive media query
  @media screen and (max-width: 855px) and (min-width: 200px) {

    .feature-atrraction-sliders .room-details-main-div{
      padding: 10px;
    }
    .call-now-bg{
      padding: 10px;
      border-radius: 0px 0px 23px 0px;
    }
    .offer-rate{
      right: 0;
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 681px) {

  }


  @media screen and (max-width: 680px) and (min-width: 400px) {

  }
}

.faq_page_content:before{
  // responsive media query
  @media screen and (max-width: 855px) and (min-width: 200px) {
      background-position-y: 0px;
  }

  @media screen and (max-width: 1024px) and (min-width: 681px) {

  }


  @media screen and (max-width: 680px) and (min-width: 400px) {

  }
}

.faq_page_content{
  // responsive media query
  @media screen and (max-width: 855px) and (min-width: 200px) {
    height: 60% !important;
  }

  @media screen and (max-width: 1024px) and (min-width: 681px) {

  }


  @media screen and (max-width: 680px) and (min-width: 400px) {

  }
}
