// Featured Properties grid

.featured-properties {
    margin-top: 4em;
    margin-bottom: 4em;

    .property-details {
        padding-right: 0;
        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &.md-one-third:before {
            @media screen and (max-width: 768px) {
                padding-top: 60%;
            }
        }

        .contain {
            background: #000;
        }
        .featured-property-image-container {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            opacity: .75;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
        .over {
            .offerings {
                list-style: none;
                padding-left: 0;
                margin-top: 0;

                li {
                    display: inline-block;
                    font-size: 1em;
                    margin: 0 10px;

                    .icon {
                        margin-right: 0;
                    }

                    .detail {
                        @extend %sans--medium;
                        color: $white;
                        display: block;
                        font-size: 1em;
                    }
                }
            }
            h2 {
                @extend %sans--black;
                @include transition(opacity 0.25s ease-in-out);
                color: $white;
                font-size: 2.1em;
                opacity: 1;
                padding: 0 20px;
                position: relative;
                text-transform: uppercase;
                top: 50%;
                z-index: 2;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .info {
                @include transition(opacity 0.25s ease-in-out);
                background: rgba(48,48,48,.85);
                opacity: 0;
                height: 100%;
                top: 0;
                position: absolute;
                width: 100%;
                z-index: 3;

                .info-wrapper {
                    @include transition(opacity 0.25s ease-in-out);
                    margin: 0 auto;
                    //max-width: 330px;
                    padding: 20px;
                    position: relative;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);

                    .no-touch-title {
                        display: none;

                        .touch & {
                            display: block;
                            opacity: 1;
                        }
                    }
                    p, .btn {
                        color: $white;
                    }
                }

            }
            &:hover,
            .touch & {
                h2 {
                    opacity: 0;
                }
                .info {
                    opacity: 1;
                }
            }
        }
    }
}
