.footer-bg{
    background: image-url("footer-img.png") bottom center no-repeat;
    background-size: cover;
    color: white;
    @include clearfix();

  .footer-main-div{
      height: 190px;
      width: 100%;
      position: relative;
      @include clearfix();

    .footer-logo {
      position: absolute;
      height: 100px;
      left: 30px;
      top: 50%;
      margin-top: -50px;
      @include bp-until($breakpoint__md) {
        display: none;
      }
    }

    .text-divider{
        height: 40px;
        display: inline-block;
        border-left: 1px solid #ffffff;
        @include bp-until($breakpoint__lg){
          display: none;
        }
    }

    .list-div-text{
      height: 40px;
      display: inline-block;
      vertical-align: middle;

      @include bp-between($breakpoint__xs, $breakpoint__lg){
        display: block;
        height: auto;
        margin: 10px 0px;
      }
    }

    .menu-list-div{
      padding: 70px 0 0 0;
      font-size: 16px;
      font-family: "Montserrat";
      width: 47%;
      margin-left: 27%;
      text-align: center;
      @include bp-between($breakpoint__xs, $breakpoint__lg){
        margin: 0 auto;
        width: 360px;
      }
    }

    .footer-menu-icon-div{
      position: absolute;
      height: 50px;
      width: 125px;
      right: 10px;
      top: 50%;
      margin-top: -25px;
      font-size: 20px;
    }
  }

  .footer-menu-list {
    width: 400px !important;
    margin: 0 auto;
    text-align: center;
    span {
      padding-left: 10px;
    }

    @include bp-until($breakpoint__md) {
      span {
        display: block;
        padding-left: 0px;
        margin: 10px 0px;
      }
    }
  }
}

