.property-details {
    @include bp-at-least($breakpoint__md) { float: left; }
    @include bp-at-least($breakpoint__md) { padding-right: 4em; }
}

.property-details p {
  margin-top: 2px;
}

#map-container {
    background: #fff;
    height: 315px;

   #map-canvas {
       height: 315px;
   }
 }

.video-tour-btn {
  font-size: 1em;
}