.search-form {
  width: 100%;
  font-family: "Montserrat";

  .form-input {
    display: inline-block;
    width: 20%;

    @include bp-until($breakpoint__md) {
      display: block;
      margin: 10px 0px;
      width: 100% !important;
    }

    select, input {
      font-family: "brandon-grotesque", sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      height: 60px;
      color: #bababa;
      width: 100%;
      border-width: 1px;
      border-color: rgb(238,238,238);
      background-color: rgb(248,248,248);
      border-style: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      border-right: 1px solid #bababa;
      padding-left: 5px;
    }

    &.location-select {
      width: 30%;
    }

    &.date-input {
      width: 15%;
    }

    &.guests-select {
      width: 15%;
    }
    &.submit {
      width: 25%;
      text-align: left;
      button {
        border-radius: 0px;
      }
    }
  }
}
