.room_details_page_content,.room-details-page-content-section{
    font-family: Montserrat;
}

.hotel_grid_view_header_content:before{
    background: url("IMG_1900.jpg") no-repeat center center !important;
    background-size: cover !important;
}
.site-header.hotel_grid_view_header_content{
    /*height: 50% !important;*/
    float: left;
    /*height: 100% !important;*/
}

.line-separator{
    height: 1px;
    border-bottom: 1px solid #ededed;
}
.sandcastle-bold{
    font-weight: bold;
}
.common-font-20{
    font-size: 20px;
}
.common-font-16{
    font-size: 16px;
}
.common-font-10{
    font-size: 10px;
}
.common-font-14{
    font-size: 14px;
}
.common-font-9{
    font-size: 9px;
}
.common-font-12{
    font-size: 12px;
}
.common-font-24{
    font-size: 24px
}
.common-font-11{
    font-size: 11px;
}
.common-font-27{
    font-size: 27px;
}
.common-font-18{
    font-size: 18px;
}
.common-font-15{
    font-size: 15px;
}
.common-font-14{
    font-size: 14px;
}
.common-font-13{
    font-size: 13px;
}
.common-font-21{
    font-size: 21px;
}
.common-font-8{
    font-size: 8px;
}
.sorting-button-top-container{
    margin-top: 2%;
}
#min_range,#max_range{
    position: relative;
    top: -20px;
}
#slider-range .ui-slider-handle #min_range:focus{
    border: none !important;
}
#slider-range .ui-slider-handle #min_range:focus,#slider-range .ui-slider-handle #max_range:focus,#slider-range .ui-slider-handle:focus{
    border: none !important;
    outline: none !important;
    color: #000 !important;
}
#hotel-room-date-search-form #start_date,#hotel-room-date-search-form #end_date{
    padding-top: 7px;
}
.hotel-price-room-people-details:after {
    content: '/night';
    font-size: 10px;
    vertical-align: bottom;
}
.hotel-price-room-people-details{
    /*float: left;*/
    /*width: 80%;*/
    /*background: #000;*/
    /*padding: 20px;*/
    /*color: #ffffff;*/
}
.hotel_grid_view_header_content .page-breadcomb-text{
    color: #FAD939;
}
.hotel-list-common-checkbox-space{
    margin-right: 10px !important;
}
.hotel-listing-page-content-section,.hotel-listing-page-content-section .section-divider,.hotel-listing-divider{
    background: #F8F8F8;
}
.hotel-room-date-search-form .form-control{
    border: none;
    box-shadow: none;
    border-radius: 5px;
}
.hotellist-search-buttons{
    background: #39BDFB;
    border: none;
    color: #ffffff;
    height: 40px;
    border-radius: 10px;
    width: 100px;
    text-transform: uppercase;
}
form.hotel-room-date-search-form .inner-addon .fa-calendar,form.hotel-room-date-search-form .inner-addon .fa-bed, .inner-addon .fa-user {
    position: absolute;
    padding: 2px 20px 0px 18px;
    pointer-events: none;
    /*top: 24%;*/
    color: #bababa;
    font-size: 14.85px;
}

.fa-user{
    padding-top: 10px !important;
}

form.hotel-room-date-search-form .left-addon input {
    padding-left: 60px;
}
.hotel-list-sort-buttons{
    background: #ffffff;
    border: none;
    color: #bababa;
    height: 40px;
    border-radius: 10px;
    width: 140px;
    font-size: 1.5vmin;
}
.hotel-list-sort-buttons:first-child{
    margin-right: 30px;
    margin-bottom: 20px;
}
.padding-20px{
    padding: 20px;
}
.hotel-listing-layout-container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.right-side-list-grid-icons{
    width: 28%;
    float: right;
}
.hotel-grid-result-container{
    margin-bottom: 20px;
    float: left;
}

#hotel_listing_main_section_grid #hotelgrid_view .col-sm-3{
    width: 262.5px !important;
}
.padding-bottom-10px{
    padding-bottom: 10px;
}
.padding-bottom-5px{
    padding-bottom: 5px;
}
.hotel-list-column-3{
    background-color: #39BDFB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    position: relative;
    display: flex;
}
.hotel-list-column-3 .room-details-book-button{
    background: #ffffff;
    color: #39BDFB;
}
.hotel-list-column-3 .hotel-rate{
    color: #ffffff;
    font-size: 3.2vmin;
    padding: 0;
    font-weight: bold;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
}
.hotel-list-column-3 .rate-book-main-span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
#hotellist_view .hotel-image img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active-result-view{
    background: #39BDFB;
    color: white;
    border-radius: 5px;
}
.right-addon .fa-search{ right: 0px;}
.inner-addon .fa-search{
    position: absolute;
    padding: 10px 20px 10px 10px;
    pointer-events: none;
    top: 0%;
    color: #bababa;
    font-size: 14.85px;
}
#attractions_view .venues{
    width: 240px !important;
    margin-left: 0px;
    margin-bottom: 10px;
}
#attractions_view .col-md-4{
    width: 31%;
}
.sorting-buttons-main{
    margin-left: -15px;
}
#attractions_view div.row{
    margin-bottom: 10px;
}
span.hotel-amenities-icons{
    display: block;
    float: left;
    width: 10%;
    border-right: 1px solid #bababa;
    margin: -8px 5px 0px 15px;
}




















.room_details_page_content .heading-large{
    font-size: 31px;
}
.room-details-page-content-section .hotel-price-room-people-details-main{
    background: #333333;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 50px;
    width: 81%;
}

.room-details-page-content-section .booking-button-main .fa-arrow-right:before {
    content: "\f061";
    font-size: 16.6px;
    margin-left: 2px;
}
.room-details-fontawesome-common{
    font-size: 13.79px;
}
.feature-section-column-small{
    width: 15%;
}
.feature-section-column-large{
    width: 75%;
}
.feature-section-column-main{
    width: 23%;
    margin-right: 10px;
}
.room-details-feature-section-main .row{
    margin: 15px auto;
}
.feature-section-column-small .fa-question-circle{
    color: #39BDFB;
}
.full-width{
    width: 100%;
}
.gallary-first-image{
    width: 36%;
}
.gallary-second-image{
    width: 295px;
}
.gallary-third-image{
    width: 295px;
}
.gallary-four-image{
    width: 100%;
}
.gallary-five-image, .gallary-five-image img{
    width: 570px;
    height: 303px;
}
.gallary-six-image, .gallary-six-image img{
    width: 358px;
    height: 303px;
}
.second-gallary-section-images{
    width: 592px;
}
.gallary-main-container .margin-right-by-2{
    margin-right: 2px;
}
.gallary-first-image img{
    width: 332px;
}
.gallary-second-image img, .gallary-third-image img{
    width: 295px;
    height: 274px;
}
.gallary-four-image img{
    width: 592px;
    height: 334px;
}
.room-details-map-section{
    /*background: url("contact-map.jpg");*/
}
.room-details-map-section img{
    width: 100%;
}
.room-details-section-divider{
    background: none;
}

.customer-review-section-main{
    background: #ffffff;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    min-height: 170px;
    margin-bottom: 20px;
}
.customer-review-section-upper{
    width: 100%;
}
.room-details-reviewer-avatar img{
    position: relative;
    top: -46px;
}
.room-details-reviewer-avatar{
    width: 17%;
}
.room-details-reviewer-name{
    width: 35%;
    word-break: break-word;
    border-bottom: 1px solid #ededed;
    height: 35px;
}
.room-details-reviewer-date{
    width: 31%;
    word-break: break-word;
    border-bottom: 1px solid #ededed;
    height: 35px;
}
.room-details-reviewer-comments{
    word-break: break-word;
    width: 100%;
    padding-left: 22px;
}
.roomdetails-page-user-rating{
    color: #dfc338;
}
.hotel-rating-beds-people-main{
    height: 38px;
    line-height: 38px;
}
.room-number{
    font-size: 6.9px;
    margin-top: 2em;
}
.room-details-page-content-section .fa-envelope-o:before,.room-details-page-content-section .fa-phone:before {
    color: #000;
    font-size: 23.33px;
}

.triangle4 {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #bababa;
    margin-top: 15px;
}
.room-details-reviewer-rating{
    height: 35px;
    word-break: break-word;
    border-bottom: 1px solid #ededed;
}
.customer-review-divider{
    border: 1px #ededed;
    background: none;
    height: 50px;
}
.customer-review-divider span{
    border-bottom: 1px solid #7c7865;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 5%;
    height: 17px;
}
form.room-details-post-review input.input-appear::-webkit-input-placeholder,form.room-details-post-review textarea.input-appear::-webkit-input-placeholder {
    color: #bababa;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: normal;
}
form.room-details-post-review input.input-appear::-webkit-input-placeholder,form.room-details-post-review textarea.input-appear::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #bababa;
    font-family: Montserrat;
    font-weight: normal;
}
form.room-details-post-review input.input-appear:-moz-placeholder,form.room-details-post-review textarea.input-appear:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bababa;
    font-family: Montserrat;
    font-weight: normal;
}
form.room-details-post-review input.input-appear::-moz-placeholder,form.room-details-post-review textarea.input-appear::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bababa;
    font-family: Montserrat;
    font-weight: normal;
}
form.room-details-post-review input.input-appear:-ms-input-placeholder,form.room-details-post-review textarea.input-appear:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bababa;
    font-family: Montserrat;
    font-weight: normal;
}
.your-rating-label{
    margin: 20px auto;
}
.room-details-post-review-main{
    margin-bottom: 20px;
}
.room-details-post-review-main .room-details-post-review{
    margin-left: 115px;
    margin-right: 115px;
}
form.room-details-post-review input.input-appear:focus{
    border: none;
}
form.room-details-post-review input.input-appear,form.room-details-post-review textarea.input-appear{
    border-color: #bababa;
    padding: 0.75em 0.75em 0.75em 0em;
}
.hotel-details-except-image{
    float: left;
    background: #ffffff;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.hotel-list-grid-main .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 10px;
    padding-right: 10px;
}
.room-details-common-div{
    margin: 10px auto;
}
.hotel-list-grid-main .col-sm-3{
    width: 237.5px !important;
}
#room_details_main_section .bx-wrapper .bx-viewport{
    background: none;
    box-shadow: none;
}
.hotel-image img{
    width: 100%;
    height: 170px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.room-details-book-button{
    background: #39BDFB;
    border: none;
    color: #ffffff;
    height: 30px;
    border-radius: 5px;
    width: 70%;
}
.view-on-map-link{
    font-size: 8px;
    height: 30px;
    line-height: 30px;
}
.hotel-rate{
    padding-left: 10px;
}
/*.hotel-details-except-image .roomdetails-page-reviewer-rating .fa{*/
    /*color: #dfc338;*/
/*}*/
.sandcastle-text-color{
    color: #bababa;
}
.hotel-price-value{
    color: #000;
}
#room_details_main_section .bx-wrapper .bx-controls .bx-prev,.bx-wrapper .bx-controls .bx-next{
    background: none !important;
}
#room_details_main_section .bx-wrapper .hotel-details-except-image .hotel-book-view-map .view-on-map-link a img{
    display: inline-block;
}
.room-details-post-review-main .room-details-post-review .all-rating-content{
    margin: 0 -8px;
}
.sale-available-on-hotels{
    position: absolute;
    left: 2px;
    top: 3px;
}
/*.customer-review-section-upper .roomdetails-page-reviewer-rating .fa{*/
    /*color: #FAD939;*/
/*}*/
#room_details_main_section .bx-wrapper .bx-controls-direction a.bx-prev{
    margin-left: -35px;
}
#room_details_main_section .bx-wrapper .bx-controls-direction a.bx-next{
    margin-right: -50px;
}
.hotel-image{
    margin-top: 10px;
}
.view-on-map-link a{
    color: #000000 !important;
}
.sandcastle-text-font-montserrat{
    font-family: Montserrat;
}
.room-details-page-content-section .want-to-chat-container{
    padding: 15px 20px;
    min-height: 120px;
}
.star-color-yello{
    color: #FAD939;
}
.star-color-white{
    color: #FFFFFF;
}
.below-hero-title-text{
    color: #ffffff;
    font-size: 12px;
}
.room-details-about-main{
    padding-left: 0;
}
@media screen and (max-width: 855px) and (min-width: 200px) {
    .want-to-chat-container{
        float: left;
        width: 100%;
        margin-top: 10px;
    }
    .hotel-price-room-people-details{
        width: 30%;
        float: left;
    }
    .customer-review-section-main{
        width: 95%;
    }
    .hotel-rate{
        width: 100%;
    }
    .hotel-rating-review .col-sm-6{
        width: 50%;
        float: left;
    }
    .hotel-rating-review{
        width: 100%;
    }
    .hotel-book-view-map .col-sm-6{
        float: left;
        width: 50%;
    }
    .layout-container{
        padding: 0;
    }
    .room-details-page-content-section .hotel-price-room-people-details-main{
        width: 100%;
        margin-bottom: 20px;
    }

    .hotel-price-room-people-details-main .hotel-rating-beds-people-main .col-sm-2{
        width: 10%;
        float: left;
    }
    .hotel-rating-beds-people-main .col-sm-6{
        width: 50%;
        float: left;
    }
    .layout-container .col-sm-12:first-child{
        padding: 0;
    }

    .room-details-feature-section-main .row {
        margin: 15px 10px;
    }
    .feature-list-headings{
        text-align: center;
        margin: 10px auto;
    }
    .feature-section-column-main{
        width: 47%;
    }
    .feature-section-column-large {
        width: 80%;
    }
    .room-details-post-review-main .room-details-post-review {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.room-details-page-content-section .our-facility-room-section {
    margin: 20px 0%;
}

.header-total-result-count{
    font-size: 20px;
    color: #39BDFB;
}

.description-height{
    min-height: 7.5vh;
    margin-top: 0;
}

.rw-unit{
    margin-bottom: 10px;
    display: flex;
    align-items: stretch;
    position: relative;
    float: left;
    width: 100%;
}

.rw-unit .col-sm-4.padding-bottom-10px.white-background{
    display: flex;
    align-items: center;
    position: relative;
}

.hotel-listing-layout-container .form-control.input-title{
    padding-left: 50px !important;
    font-size: 11.6px !important;
    font-family: "Montserrat" !important;
    color: #bababa !important;
    -webkit-appearance:none;
}

.hotel-listing-layout-container .form-control.datepicker.input-title{
    padding-left: 50px !important;
    font-size: 11.6px !important;
    font-family: "Montserrat" !important;
    color: #bababa !important;
    -webkit-appearance:none;
}

.set-icon{
    padding: 0px 0px 0px 10px !important;
}

#hotellist_view .row.rw-unit{
    margin: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
}

#hotellist_view .col-xs-4.padding-bottom-10px.white-background{
    display: flex;
    align-items: center;
}

.sorting-button-top-container .col-xs-6.sorting-buttons-main{
    margin: 0;
}

.text-black{
    color: #000000;
}

.active{
    color:#FFFFFF;
}

.hotel-listing-layout-container .col-xs-4.float-right.right-side-list-grid-icons{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
    margin: 0;
}

/*-----------------range slider------------------------*/

.value {
    position: absolute;
    top: -20px;
    left: 50%;
    margin: 0 0 0 -16px;
    width: 40px;
    text-align: center;
    display: block;
    font-weight: normal;
    font-family: "Montserrat";
    font-size: 1.75vmin;
    color: #333;
}

.price-range-both.value {
    width: 100px;
    margin: 0 0 0 -50px;
    top: -26px;
}

.price-range-both {
    display: none;
}

.value i {
    font-style: normal;
}

span.ui-slider-handle.ui-corner-all.ui-state-default:focus{
    outline: 0;
}

.price-range-filter-form #slider{
    height: 4px;
    border: none;
    background: #bababa;
    border-radius: 0px;
}
.price-range-filter-form .ui-slider-horizontal .ui-slider-handle {
    top: -.38em;
    width: 2%;
    border-radius: 0px;
    height: 15px;
    background: #39BDFB;
    border: none;
    margin-left: 0;
}
.price-range-filter-form #slider .ui-slider-range{
    background: #39BDFB;
}

.price-range-filter-form .max-range-value{
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 0;
}
.price-range-filter-form .min-range-value{
    width: 50%;
    float: left;
    text-align: left;
    padding-top: 0;
}
.price-range-filter-form .main-price-range{
    margin-top: 15px;
}

/*----------------------homepage---------------------*/

.view-offer-btn{
    background: #39BDFB;
    border: none;
    color: #ffffff;
    height: 50px;
    border-radius: 5px;
    width: 163px;
    text-transform: uppercase;
}

.booking-receipt-details .row.col-md-12.margin-top-4{
    margin: 0;
}