.new-client-header-content:before{
    background: url("new_client_header_bg.png") no-repeat !important;
    background-size: cover !important;
}
.site-header.new-client-header-content{
    width: 100%;
}
.new-client-header-content{
    float: left;
    height: 89% !important;
}
.newclient-content-section-divider-feature{
    width: 100%;
    background: #ffffff;
}
section.property-listing-form-section .layout-container form.property-listing-form .row{
    width: 60%;
    margin: 0 auto;
}
section.property-listing-form-section .layout-container form.property-listing-form .start-hosting-button-main{
    width: 21.4%;
}
section.property-listing-form-section .layout-container form.property-listing-form .form-control{
    border-radius: 0px;
}
.sandcastle-text-font-grant-hotel{
    font-family: "GRAND HOTEL";
}
.why-sandcastle-departmental-text{
    padding: 20px 20px 20px 60px;
}
.why-sandcastle-departmental-text-third, .why-sandcastle-departmental-text-third{
    padding-right: 60px;
}
.why-sandcastle-rental-header,.join-happy-customer-header{
    color: #39BDFB;
    font-size: 52px;
}
.happy-customer-image-first, .happy-customer-image-third{
    padding: 0;
}
.happy-customer-image-second{
    padding: 0;
}
.join-happy-customers-container{
    width: 100%;
    float: left;
    background-color: #fff;
}
.new-client-inner-main-content .row{
    margin: 0;
}
.happy-customer-text{
    height: 441px;
    line-height: 441px;
}
.happy-customer-text span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.property-list-footer-content{
    background: url("sandcastle_beach_sunset.jpg");
    background-position: 0px 405px;
    background-size: cover;
    height: 248px;
}

.start-hosting-footer-button-main{
    height: 248px;
    /*line-height: 248px;*/
    background: rgba(0, 0, 0, 0.6);
}
.start-hosting-button{
    text-decoration: none;
    background: #39BDFB;
    color: #ffffff;
    padding: 18px;
    border-radius: 10px;
}
.start-hosting-button:hover{
    text-decoration: none;
    background: #39BDFB;
    color: #ffffff;
    opacity: 1;
}
.new-client-header-content .hero .layout-centered .heading-large{
    text-align: right;
    padding-right: 8%;
    line-height: 70%;
    margin-top: 5%;
}
.header-start-hosting-button{
    border: none;
    background: #39BDFB;
    color: #ffffff;
    font-size: 12px;
    padding: 20px;
    border-radius: 6px;
    margin: 20px auto !important;
}
.dont-wait-list-property-label{
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    /*line-height: 238px;*/
    text-indent: 87px;
}
.start-earning-cash-label{
    color: #ffffff;
    font-family:"Montserrat";
}
.common-font-48{
    font-size: 48px;
}
.property-listing-form label{
    font-size: 10px;
}
.computer-screen-slider img{
    width: 100%;
}
.sandcastle-color-blue{
    color: #39BDFB;
}
.why-sandcastle-first-row .fa, .why-sandcastle-second-row .fa{
    font-size: 80px;
    color: #39BDFB;
}
/*.property-list-footer-content span{*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*line-height: normal;*/
/*}*/
.dont-wait-list-property-label{
    margin: 5.5% auto;
}
.start-hosting-button-label-name{
    margin: 8.5% auto;
}
.why-sandcastle-main-section{
    background: #DFDEE4;
}
.why-sandcastle-main-section .section-divider{
    background: #DFDEE4;
}
.list-your-property-divider img{
    padding: 0;
}
.list-your-property-tabs-main{
    width: 30%;
    margin: 11px 36%;
}
.list-your-property-tabs-main-info{
    width: 24%;
    border-right: 1px solid #bababa;
    text-align: center;
}
.list-your-property-tabs-prop-info{
    width: 45%;
    text-align: center;
    border-right: 1px solid #bababa;
}
.list-your-property-tabs-thank-you{
    width: 26%;
    text-align: center;
}
/*.start-earning-cash-label{*/
    /*height: 20px;*/
    /*line-height: 20px;*/
    /*display: table;*/
/*}*/
.why-sandcastle-fontawesomes{
    height: 70px;
}
.common-font-24{
    font-size: 24px;
}
.common-font-52{
    font-size: 52px;
}
.why-sandcastle-second-row,.start-hosting-button-main{
    margin-top: 4%!important;
}
.new-header-client-text{
    line-height: normal;
}
.join-happy-customers-container .col-md-6{
    padding-right: 0;
    padding-left: 0;
}
.start-hosting-button-main .btn-info{
    padding: 20px;
}
.happy-customer-text{
    padding-left: 0;
    padding-right: 0;
}
.happy-customer-text span{
    padding: 25px;
}
@media screen and (max-width: 855px) and (min-width: 200px) {
    section.property-listing-form-section .layout-container form.property-listing-form .start-hosting-button-main {
        width: 50%;
    }
    .list-your-property-tabs-main {
        width: 100%;
        margin: 11px 0%;
    }
    .list-your-property-tabs-main .list-your-property-tabs-main-info,.list-your-property-tabs-main .list-your-property-tabs-prop-info,.list-your-property-tabs-main .list-your-property-tabs-thank-you {
        padding-left: 3px;
        padding-right: 3px;
    }
    section.property-listing-form-section .layout-container form.property-listing-form .property-listing-form-row-mobile {
        width: 90%;
        margin: 0 auto;
    }
    .why-sandcastle-departmental-text {
        padding: 10px 10px 10px 10px;
    }
    .dont-wait-list-property-label {
        color: #ffffff;
        font-size: 60px;
        text-align: center;
        text-indent: 0px;
    }
    .start-hosting-button-label-name{
        text-align: center;
    }
    .happy-customer-image-third{
        margin-top: 10px;
    }
}
